@font-face{
    src: url(../font/Raleway-ExtraBold.ttf);
    font-family: Raleway-Bold;
}
@font-face{
    src: url(../font/Raleway-Light.ttf);
    font-family: Raleway-Light;
}
@font-face{
    src: url(../font/Raleway-Regular.ttf);
    font-family: Raleway-Medium;
}
@font-face{
    src: url(../font/Raleway-Bold.ttf);
    font-family: Raleway-Tebal;
}
@font-face{
    src: url(../font/Raleway-SemiBold.ttf);
    font-family: Raleway-SemiBold;
}